
<!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4 mt-4" th:fragment="footer" xmlns:th="" style="background-color:#55ada8">
    <hr>
    <div class="footer-copyright text-center py-3" style="color:#f0f0f0 ">© 2018 Copyright:
      HRD
    </div>
</footer>