sdc    <div  th:fragment="header" xmlns:th="">
        <div class="header-nightsky">
            <nav class="navbar navbar-default navigation-clean-button" style="background-color:#55ada8">
                <div class="container">
                    <div class="collapse navbar-collapse" id="navcol-1">
                        <ul class="nav navbar-nav">
                            <li class="home"><a href="/article"><span class="glyphicon glyphicon-home"></span></a></li>
                            <li role="presentation"><a href="#" style="color: #f0f0f0">Category</a></li>
                        </ul>
                        <p class="navbar-text navbar-right actions"><a class="btn btn-default action-button" role="button" href="?lang=kh">ភាសាខ្មែរ</a> <a class="btn btn-default action-button" role="button" href="?lang=en">English</a></p>
                    </div>
                </div>
            </nav>
            <h1 th:text="#{article.header}" style="text-align: center;color: #172a74">Article Management System</h1>
        </div>
        <div class="hero"​​ style="align-content: center">

        </div>
    </div>



