h1 {
    font-size: 36px;
    line-height: 40px;
}
body {
    align-items: center;
}

table,
td,
th {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 54px;
    background-color: rgb(52, 54, 52);
    color: white;
}

tr {
    height: 54px;
    background-color: rgb(77, 74, 146);
    color:white;
}

tr {
    transition: all .25s ease-in-out
}

button {
    background-color: rgb(149, 175, 76);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

bu:hover {
    background-color: #457ba0;
}
