<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default_layout">
<head>
</head>
<body>
    <div id="main" class="container" layout:fragment="content">
        <h1 th:text="${formAdd}?#{article.contentform}:#{article.contentform1}">Add New Article</h1>
        <form th:action="${formAdd}?'/add':'/update'" method="post" th:object="${article}"  enctype="multipart/form-data">
                <span  th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></span><br/>
                <input type="hidden"  th:field="*{id}"  placeholder="Enter ID"/><br/><br>
                <label>Title:</label><span  th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span><br/>
                <input type="text" th:field="*{title}" placeholder="Enter Title"/><br/>
                <label>Category:</label><br>
                <select  th:field="${article.category.id}">
                    <option th:each="category:${categories}" th:object="${category}" th:value="*{id}" th:text="*{name}"></option>
                </select><br>
                <label >Decription :</label><span  th:if="${#fields.hasErrors('decription')}" th:errors="*{decription}"></span><br/>
                <input type="text" th:field="*{decription}" placeholder="Enter Decription"/><br/>
                <label>Author :</label><span th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></span><br/>
                <input type="text" th:field="*{author}" placeholder="Enter Author"/>
                <input type="file" name="file" />
            <br/>
            <input type="submit" th:value="${formAdd}?'Save':'Update'"/>
        </form>


    </div>
</body>
</html>