<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default_layout">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
    <div id="main" class="container" layout:fragment="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <img th:src="${articles.thumbnail}" class="img-thumbnail" alt="Cinque Terre">
                </div>
                <div class="col-sm-8">
                    <table >
                        <tr>
                            <th>Title:</th>
                            <td th:text="${articles.title}">Details</td>
                        </tr>
                        <tr>
                            <th>Category</th>
                            <td th:text="${articles.category.name}"></td>
                        </tr>
                        <tr>
                            <th>Description</th>
                            <td th:text="${articles.decription}"></td>
                        </tr>
                        <tr>
                            <th>Author</th>
                            <td th:text="${articles.author}"></td>
                        </tr>
                        <tr>
                            <th>CreatedDate</th>
                            <td th:text="${articles.createdDate}"></td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>
    </div>
</body>
</html>