<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default_layout">
<head>
</head>
<body>
    <div id="main" class="container" layout:fragment="content">
        <table style="text-align: center">
            <tr>
                <th th:text="#{article.id}">ID</th>
                <th th:text="#{article.category}">Category</th>
                <th th:text="#{article.tittle}">Title</th>
                <th th:text="#{article.description}">Decription</th>
                <th th:text="#{article.author}">Author</th>
                <th th:text="#{article.thumnail}">Thumnail</th>
                <th th:text="#{article.createdate}">CeatedDate</th>
                <th th:text="#{article.action}">Action</th>
            </tr>
            <tr th:each="article :${articles}" th:object="${article}">
                <td th:text="*{id}"></td>
                <td th:text="*{category.name}"></td>
                <td th:text="*{title}"></td>
                <td th:text="*{decription}"></td>
                <td th:text="*{author}"></td>
                <td ><img style="width: 50px;height: 50px ;align-items: center" th:src="*{thumbnail}"/></td>
                <td th:text="*{createdDate}"></td>
                <th style="text-align: center"><a th:href="@{/article/{id}(id=*{id})}"><button th:text="#{article.btnView}">View</button></a>
                    <a th:href="@{/update/{id}(id=*{id})}"><button th:text="#{article.btnUpdate}">Update</button></a>
                    <a th:href="@{/delete/{id}(id=*{id})}"><button th:text="#{article.btnDelete}">Delete</button ></a>
                </th>
            </tr>
        </table>
        <p class="navbar-text navbar-center actions"><a class="btn btn-default action-button" role="button" href="/add"​​ th:text="#{article.addnew}" style="background-color: #172a74 ;color: #f0f0f0">Add New</a></p>
    </div>

</body>
</html>